# This file should live in the home directory '~/.gitconfig'.

[branch]
	sort = -committerdate
[color]
	ui = true
[core]
	editor = code --wait
[diff]
	algorithm = histogram
[grep]
	lineNumber = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
[push]
	autoSetupRemote = true
[user]
	email = redowan.nafi@gmail.com
	name = rednafi
